#name
{
    background-color: rgb(85, 12, 12);
    height: 150px;
    padding-top: 30px;
}
.navbuttons
{
    
    padding-top: 50px;
    height: 700PX;
    
}
body
{
    background-image: url(bg-body.jpg);
}
aside
{
    width: 40%;
    float: left;
    /* background-image: url(bg-body2.jpg); */
}

button
{
    background-color: darkred;
    border: solid white 2px;
    margin-left: 70px;
    height: 40px;
    width: 200px;
}
a
{
    color: white;
    text-decoration: none;
}
button:hover{
    background-color: rgb(63, 10, 10);
}
#vision
{
    /* background-image: url(bg-text.png); */
    background-color: darkred;
    color: white;
    background-repeat: no-repeat;
   border: black 2px solid;
    border: none;
    font-size: 20px;
    width: 300px;
    padding: 30px;
    margin-left: 500px;
    text-align: center;
    margin-top: 100px;
    height: max-content;
    
    border-radius: 20%;
    
    
    
}

nav > ul > li
{
    display: inline;
    margin: 0;
    float: right;
    padding: 10px;
    border-right: rgb(212, 190, 66) 1px solid;
    font-size: xx-large;
    color: white;
}
  
@media print
{
    #name
    {
        display: none;
    }
}
#afo
{
    margin-top: 50px;
    width: 250px;

}

#card
{
    display: flex;
    flex-direction: row;
}

#card > div{
    width: 300px;
    height: 250px;
    background-image: url(bg-div.jpg);
    margin-left: 30px;
    padding:10px;
}
#card > div > h2{
    background-color: darkred;
    color: white;
    margin-top: 0;
    padding: 10px;
}
#card > div > p{
    color: white;
}
i{
    color: white;
}